* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background: #fff;
    padding: 20px 0;
    border-bottom:1px solid #333;
    box-shadow: 0px 0px 17px 48px rgba(34, 60, 80, 0.27);
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo  {
    font-size: 24px;
    font-weight: bold;
}
.nav a {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 16px;
}
.orange{
    color: #e14d00;
}
.theme-icon {
    font-size: 20px;
    cursor: pointer;
}
.right-img img{
    width: 100%;
}
.hero {
    padding: 100px 0;
    background-color: #FFF7F4;
}
.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-left {
    width: 50%;
}
.hero-left h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.hero-left p {
    color: #666;
    margin-bottom: 30px;
    max-width: 500px;
}
.btn {
    display: inline-block;
    background: #ff5a1f;
    color: #fff;
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(255, 90, 31, 0.3);
}
.btn:hover {
    background: #e14d16;
}
.hero-right {
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.about {
    padding: 100px 0;
    background-color: transparent;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 70px;
}
.about-left {
    width: 50%;
}
.about-right {
    width: 50%;
}
.about-img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.about-img img {
    width: 100%;
    height: 100%;
}
.about-right h2 {
    font-size: 36px;
    margin: 15px 0 20px;
}
.about-right p {
    color: #666;
    margin-bottom: 20px;
}
.features {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.feature-card {
    flex: 1;
    background: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}
.feature-card p {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}
.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
}
.orange-bg img{
    width: 100%;
}
.gray-bg img{
    width: 100%;
}
.blue-bg img{
    width: 100%;
}
.dark-bg img{
    width: 100%;
}
.section-2 {
    padding: 100px 0;
    background-color:#FFF7F4 ;
}
.section-2-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.section-2-left {
    width: 50%;
}
.section-2-left h2 {
    font-size: 36px;
    margin: 15px 0 20px;
}
.section-2-left p {
    color: #666;
    margin-bottom: 20px;
}
.section-2-right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.stat-box {
    background: #fff;
    padding: 50px 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}
.ot{
    color: #222;
}
.stat-box h3 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}
.stat-box p {
    color: #777;
    font-size: 14px;
}
.section3 {
    padding: 80px 20px;
    background: #f5f5f5;
}
.section3__container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.section3__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: #222;
}
.section3__title span {
    color: #ff5a00;
}
.section3__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.section3__card {
     box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    background: #fff;

    padding-bottom: 25px;
}
.section3__card img {
    width: 100%;
    height: 260px;
    display: block;
}
.section3__card h3 {
    margin: 20px 0 5px;
    font-size: 18px;
    font-weight: 600;
}
.section3__card p {
    font-size: 14px;
    color: #777;
}
.section3 {
    background-color: transparent;
    padding: 100px 20px;
    text-align: center;
}
.sec4{
    background-color: #FFF7F4;
}
.section3 .con {
    max-width: 1200px;
    margin: 0 auto;
}

.sc {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 60px;
}

.section-title span {
    color: #ff5a00;
}

.testimonials {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    background: #ff5a00;
    color: #fff;
    padding: 40px 30px;
    max-width: 450px;
    width: 100%;
    text-align: left;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.position {
    font-size: 14px;
    margin-bottom: 20px;
}

.text {
    font-size: 14px;
}
.section4 {
    padding: 80px 20px;
    background: #f5f5f5;
}

.section4__container {
    max-width: 1200px;
    margin: 0 auto;
}

.section4__subtitle {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.section4__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
    color: #222;
}

.section4__title span {
    color: #ff5a00;
}

.section4__accent {
    color: #ff5a00;
}
.section4__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.section4__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 30px;
    border-radius: 6px;
}
.section4__content {
    padding-right: 20px;
}
.section4__category {
    font-size: 13px;
    color: #ff5a00;
    display: inline-block;
    margin-bottom: 10px;
}
.section4__card h3 {
    font-size: 18px;
    margin-bottom: 25px;
}
.section4__author {
    display: flex;
    align-items: center;
    gap: 12px;
}
.section4__author strong {
    display: block;
    font-size: 14px;
}

.section4__author p {
    font-size: 12px;
    color: #777;
}
.section5 {
  padding: 80px 20px;
  background: #f9f9f9;
  text-align: center;
}

.cont {
  max-width: 1200px;
  margin: 0 auto;
}
.section-subtitle {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
.section-title {
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 700;
}
.section-title span {
  color: #ff5a00;
}
.contact-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 60px;
}

.crd {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  display: flex;
  align-items: start;
  gap: 15px;
  text-align: left;
  width: 350px;
}
.ic {
  width: 50px;
  height: 50px;
  color: #fff;
  display: flex;
}

.card-text h4 {
  font-size: 14px;
  color: #ff5a00;
  margin-bottom: 5px;
}

.card-text h3 {
  margin-bottom: 10px;
}
.form-title {
  font-size: 26px;
  margin-bottom: 30px;
}
.form-title span {
  color: #ff5a00;
}
.contact-form {
  max-width: 800px;
  margin: 0 auto;
}
.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.contact-form input,.contact-form textarea {
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.contact-form textarea {
  height: 150px;
  margin-bottom: 20px;
  width: 770px;
}

.contact-form button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #ff5a00;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.contact-form button:hover {
  background: #e14d00;
}
.section6 {
  padding: 60px 0;
}
.map {
  max-width: 1200px;
  margin: 0 auto 60px;
}

.map img {
  width: 100%;
  height: 450px;
  display: block;
  border-radius: 8px;
}

.badges {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.badge {
  text-align: center;
}
.or{
    color: #e14d00;
}
.badge img {
  max-width: 150px;
  width: 100%;
}
.footer {
  background: #3c3c3c;
  color: #ccc;
  padding-top: 60px;
}

.foot-cont {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0 20px 60px;
}
.ic img{
    width: 100%;
}
.logo {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.logo span {
  color: #ff5a00;
}

.foot-col h3 {
  color: #fff;
  margin-bottom: 20px;
}

.foot-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.foot-col p {
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.foot-col p:hover {
  color: #ff5a00;
}
.socials {
  display: flex;
  gap: 10px;
}
.soc {
  width: 35px;
  height: 35px;
  background: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.soc:hover {
  background: #ff5a00;
}
.newsletter {
  display: flex;
}
.newsletter input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}
.newsletter button {
  width: 45px;
  border: none;
  background: #ff5a00;
  color: #fff;
}
.footer-bottom {
  background: #ff5a00;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in{
    border: 2px solid #e14d00;
}
@media (max-width: 510px) {
    .nav {
        display: none;
    }
    .hero {
        padding: 60px 0;
    }
    .hero-container {
        flex-direction: column;
        text-align: center;
    }
    .hero-left {
        width: 100%;
    }
    .hero-left h1 {
        font-size: 32px;
    }
    .hero-left p {
        max-width: 100%;
        font-size: 14px;
    }
    .btn {
        padding: 12px 25px;
        font-size: 14px;
    }
    .hero-right {
        width: 100%;
        margin-top: 40px;
    }
    .right-img {
        width: 100%;
        height: 250px;
    }
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .about-left,.about-right {
        width: 100%;
    }
    .about-img {
        height: 280px;
        margin: 0 auto 30px;
    }
    .about-right h2 {
        font-size: 26px;
    }
    .features {
        flex-direction: column;
    }
    .feature-card {
        padding: 30px 20px;
    }
     .section-2-container {
        flex-direction: column;
        text-align: center;
    }
    .section-2-left,.section-2-right {
        width: 100%;
    }
    .section-2-left h2 {
        font-size: 26px;
    }
    .section-2-right {
        grid-template-columns: 1fr;
    }
    .stat-box {
        padding: 50px 20px;
    }
    .section3__title {
        font-size: 28px;
    }
    .dn{
        display: none;
    }
    .section3__cards {
        grid-template-columns: 1fr;
    }
    .section3__card img {
        height: 220px;
    }
    .section-title {
        font-size: 28px;
    }
    .testimonials {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .testimonials .card{
        width: 90%;
    }
    .card {
        padding: 30px 20px;
    }
    .form-row{
        flex-direction: column;
        width: 100%;
    }
    input{
        max-width: 91%;
    }
    textarea{
        min-width: 200px;
        max-width: 355px;
    }
    .section4 img{
        width: 90px;
    }
    .section4__card{
        width: 100%;
    }
    .section4__author img{
        width: 50px;
    }
    .card-text h4{
        font-size: 30px;
    }

    .section4__content span,h3,h4,p {
        font-size: 20px;
    }
    .contact-cards {
    flex-wrap: wrap;
  }
  .section6 {
    padding: 40px 15px;
  }

  .map img {
    height: 250px;
  }
  .badge img {
    max-width: 120px;
  }
  .foot-cont {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: start;
  }
  .socials {
    justify-content: center;
  }
  .newsletter {
    flex-direction: column;
    gap: 10px;
  }
  .newsletter button {
    position: absolute;
    width: 20%;
    padding: 9px;
    margin-left: 300px;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .socials img{
    width: 90%;
  }
}